<div class="container-fluid header"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1 class="font-weight-bold">Bienvenido aqu&iacute; podr&aacute;s crear un mensaje cifrado con SHA-256</h1>
      <p class="lead">Esta es una pequeña aplicaci&oacute;n con la que mostramos como es que se hace uso de la librer&iacute;a 
        <small class="text-warning display-4 font-weight-bold">Crypto-JS</small>
         y el muy famoso framework de desarrollo de aplicaciones web (SPA) <small class="display-4 font-weight-bold text-success"> Angular 11.</small>
        
        </p>
    </div>
  </div>
</div>
<button type="button" class="btn btn-outline-warning btn-block" data-toggle="modal" data-target="#modal" data-whatever="@mdo">Crear un HASH</button>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-dark" id="modalLabel">Nuevo mensaje encriptado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="hashForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">T&iacute;tulo:</label>
            <input type="text" formControlName="title" class="form-control" id="recipient-name" required>
            <small id="recipient-nameHelp" class="form-text text-muted">Este ser&aacute; el t&iacute;tulo del mensaje encriptado con SHA-256</small>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mensaje:</label>
            <textarea formControlName="message" class="form-control" id="message-text" required></textarea>
            <small id="message-textHelp" class="form-text text-muted">Este ser&aacute; el cuerpo del mensaje que se encriptar&aacute; con SHA-256</small>
          </div>
          <button type="submit" [disabled]="!hashForm.valid" class="btn btn-outline-success btn-block mt-3 mb-3">Encriptar mensaje</button>
        </form>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>O si lo prefieres, pasa directamente al </p><a class="badge badge-info p-2" data-dismiss="modal" routerLink="/second-view">dictado</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>