.header {
    background-image: url(../../assets/resources/mensaje.jpg);
}
@media(max-width: 767.98px){
    .header {
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    audio {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width: 768px) {
    .header {
        background-size: cover;
        width: 100%;
        height: 600px;
    }
    audio {
        width: 437px;
    }
}